@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
         <form id="addForm" method="post" novalidate style="margin:0;padding:20px 50px">
        <table id="test1" style="width:100%" title="用户操作" data-options="'iconcls':'icon-edit' ">
        </table>
         </form>
</div>
